html {margin: 0; padding: 0; height:100%}
body {
	color: #fff;
	background-color: #151515;
	font-size: 16px;
	font-family: Tahoma,sans-serif,Helvetica;
	line-height: 1.25em;
	height:100%;
	margin:0;
	padding:0;
	}
#body {
	padding-bottom:48px}

#container {
   min-height:100%;
   position:relative;}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px; }

/* Window border thing */
ul, ol, h2, .btn, p{
	border: 1px outset white;}

/* Title */
h1 {
	text-align: center;
	font-size: 2.5rem;
	padding-top:10px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight:  1;}

[ id="RECIPE%20INDEX" ] { color:#f6f6f6; letter-spacing: 5px}
[ id="SORTED%20RECIPES" ] { color:#f6f6f6; letter-spacing: 5px}

/* recurrent margin */
p,ol,ul {margin: 0 15% 0 15%;}

/* Makes subheaders look like that */
h2 {
	margin: 15px 15% 0 15%;
	font-weight: 300;
	padding: 0px 0px 0px 20px;
	color: #fff;
	content: center;
  	border-bottom:0px;
	font-weight:  bold;
	line-height: 1.5em;

}


/* Paragrath */
p {
	text-align:justify;
	width:auto;
	padding: 0 1em 0 1em;
	border-top: 0;
	display:block;
}

/* The images converted from markdown are in paragraths */
p img {
	padding:0px;
	height: 5%;
	margin: 0 auto 0 auto;
	display:block
}

/* Unordered lists (Ingredients) and ordered lists (Instructions) */
ul, ol {
	width: auto;
   	border-top: 0px;
}
ul li {
	min-height: 2em;
	padding-left: 0.5em;
	border-all: 1px solid white;
	padding-right: 0.5em;
}
ol {
	padding: 10px 40px 10px 30px;
	text-align: justify;
	text-justify: inter-word;
}
ul {
	padding: 0;
	display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(10em,1fr));
	list-style: none;
}
li {
	text-align: -webkit-match-parent;
	display: list-item;
}
ul li a {text-decoration:none;transition: all 0.3s ease 0s;color:#fff}
ul li a:hover {text-decoration:none;transition: all 0.3s ease 0s;background:white;color:black}
/* Button class used in nav bar and footer */
.btn{
	padding: 0 3px 0 3px;
	margin: 0;
    	color: white;
	user-select: none;
	text-align: center;
	vertical-align: middle;
    	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
    	line-height: 1.5;
	transition: all 0.3s ease 0s;
} a.btn {text-decoration:none}
.btn:hover {
	color:black;
	background:white;
	border: 1px inset white;
	transition: all 0.3s ease 0s;
}

/* Footer */
footer {
	margin-top: 3em;
	padding-top: 5px;
	padding-bottom: 5px;
	width: auto;
	background: none;
	border: 0px outset;
   	border-top: 1px solid white;
	clear: both;}

footer a {
	padding-left: 40px ;
	text-decoration:none;
	font-size: 15px;
	color: white;
	font-size: 1.5rem;
	font-weight: 300;}

footer img {
	height: 2em;
	padding: 3px;}

/* Trying to obsucate how much css it took me to get navbar working*/
nav{
	border-bottom: 1px outset white}

.topbar {
	padding:0px;
	margin:0;}
.navlinks {
	grid-template-columns: unset;
	display: inline-block !important;
	grid-template-columns: none;padding: 3px;
	list-style:none;margin: 0;border:0;}

.navlinks ul {width: 100%;padding: 3px;background:transparent !important}
.navlinks li {display: inline-block;padding: 3px;border:0;}
.navlinks li a {transition: all 0.3s ease 0s;text-decoration:none;}
.navlinks li a:hover {transition: all 0.3s ease 0s}
.navlinks li a img{transition: all 0.3s ease 0s}
.navlinks li a img:hover {transition: all 0.3s ease 0s}

/* Seach Box shenanigins */
.search-box {
	border: white outset 1px !important;
	color: white;user-select: none;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
	line-height: 1.5;margin-left: auto;margin-right: auto;padding:0 !important; min-height:1em !important}
.search-box:hover > .search-text {width: 240px;}
.search-btn{float: right;transition: 0.4s; cursor: pointer; }
.search-text{border: none; background: none; outline: none; float: left; padding: 0; color: white; transition: 0.4s; width: 0px; }
