html {margin: 0; padding: 0; height:100%}

body {	color: #fff;
	background-color: #bfbcf0;
	font-size: 1rem;
	line-height: 1.5;
	font-family: Tahoma,sans-serif,Helvetica;
	height:100%;
	margin:0;
	padding:0;}

#body {	margin-left:20%;
	margin-right:20%;
	padding-bottom:48px}

#container{min-height:100%;
	position:relative;}

#footer{position:absolute;
	bottom:0;
	width:100%;
	height:60px;}

/* Window border thing */
ul, ol, h2, .btn, p {
	border: 2.5px outset white;
   	border-bottom-color: #000;
 	border-right-color: #000;}

/* Title */
h1 {	letter-spacing:3px;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 300;}

/* Card Headers */
h2 {	margin:0;
	font-weight: 300;
	padding: 0px 0px 0px 20px;
	color: white;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7);
  	border-bottom:0px;}

/* Card bodies */
p,ol,ul{margin: 0 0 1em 0;
	border-top: 0px;
  	background: silver;
   	color: #212529;
	padding: 0px;}

/* Cards with just text */
p {	text-align:justify;
	padding: 8px 20px 8px 20px;
	display:block;}

/* Images inside cards */
p img {	height: 5%;
	margin: 0 auto 0 auto;
	display:block;}

/* Unordered lists (Ingredients) and ordered lists (Instructions) */
ul li {
	min-height: 2em;
	border: 1px solid white;
   	border-left: 0;
	border-bottom-color: #424242;
 	border-right-color: #424242;
	padding-left: 1em;
}
/* Directions list */
ol {	padding: 10px 40px 10px 30px;
	text-align: justify;
	text-justify: inter-word;}

ul {	display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(15em,1fr));
	list-style: none;}

li {
	text-align: -webkit-match-parent;
	display: list-item;}

ul li a {text-decoration:none;transition: all 0.3s ease 0s;color:#212529}
ul li a:hover {text-decoration:none;transition: all 0.3s ease 0s;color:snow}
/* Button class used in nav bar and footer */
.btn{
	padding: 0 3px 0 3px;
	margin: 0;
 	background: silver;
    	color: black;
	user-select: none;
	text-align: center;
	vertical-align: middle;
    	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
    	line-height: 1.5;
	transition: all 0.3s ease 0s;
} a.btn {text-decoration:none}
.btn:hover {
	border: 2.5px inset buttonface;
 	border-left-color: #000;
    	border-top-color: #000;
	transition: all 0.3s ease 0s;
}

/* Footer */
footer {
	margin-top: 3em;
	padding: 5px;
	color: white;
	width: auto;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7);
	border: 0px outset;
   	border-top: 4px solid buttonface;
	clear: both;}

footer a {
	padding-left: 40px ;
	text-decoration:none;
	font-size: 15px;
	color: white;
	font-size: 1.5rem;
	font-weight: 300;}

footer img {
	height: 2em;
	padding: 3px;}

/* Trying to obsucate how much css it took me to get navbar working*/
nav{border-bottom: 2.5px outset black}
.topbar {padding:0px;margin:0;background:silver;color: #212529;}
.navlinks {grid-template-columns: unset;display: inline-block !important;grid-template-columns: none;padding: 3px;list-style:none;margin: 0;border:0;}
.navlinks ul {width: 100%;padding: 3px;}
.navlinks li {display: inline-block;padding: 3px;border:0;}
.navlinks li a {transition: all 0.3s ease 0s;text-decoration:none;}
.navlinks li a:hover {transition: all 0.3s ease 0s}
.navlinks li a img{transition: all 0.3s ease 0s}
.navlinks li a img:hover {transition: all 0.3s ease 0s}
/* Seach Box shenanigins */
.search-box { border: white outset 2.5px !important;border-right-color: black !important;border-bottom-color: black !important;background: silver;color: black;user-select: none;text-align: center;vertical-align: middle;cursor: pointer;line-height: 1.5;margin-left: auto;margin-right: auto;padding:0 !important; min-height:1em !important}
.search-box:hover > .search-text {width: 240px;}
.search-btn{float: right; background:silver;transition: 0.4s; cursor: pointer; }
.search-text{border: none; background: none; outline: none; float: left; padding: 0; color: black; transition: 0.4s; width: 0px; }
