html, body {margin: 0; padding: 0; height:100%}
body {
	color: #fff;
	font-family: Tahoma,sans-serif,Helvetica;
	background-color: #bfbcf0;
	font-size: 1rem;font-weight: 400;line-height: 1.5;
	min-height:100vh; margin:0; position:relative;
}

/* Window border thing */
ul, ol, h2, .btn, p{
	border: 2.5px outset white;
   	border-bottom-color: #424242;
 	border-right-color: #424242;
}

/* Title */
h1 {
	text-align: center;
	font-size: 2.5rem;
	font-weight: 300;
}

/* Makes subheaders look like that */
h2 {
	font-weight: 300;
	padding: 0px 0px 0px 20px;
	margin: 15px 10% 0 10%;
	color: white;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7);
	content: center;
  	border-bottom:0px;
}
/* Index list */
ol.index {list-style-type:upper-latin;}
ul.indexed {grid-template-columns:repeat(auto-fit,minmax(13em,1fr));border:0}
ul.indexed li {border:0; margin:0}
a.btn {text-decoration:none}

/* Unordered lists (Ingredients) and ordered lists (Instructions) */
ul, ol {
	width: auto;
	max-width: 80%;
	margin: 0px 10% 15px 10%;
   	border-top: 0px;
  	background: silver;
   	color: #212529;
}
ul li {
	min-height: 2em;
	border: 1px solid white;
   	border-left: 0;
	border-bottom-color: #424242;
 	border-right-color: #424242;
	padding-left: 1em;
}
ol {
	padding: 10px 40px 10px 30px;
	text-align: justify;
	text-justify: inter-word;
}
ul {
	padding: 0;
	display: grid;
	grid-template-columns:  repeat(auto-fill, minmax(15em,1fr));
	list-style: none;
}
li {
	text-align: -webkit-match-parent;
	display: list-item;
}
/* Nav bar */
.navlinks ul {
	width: 100%;
	padding: 3px;
}
.navlinks li a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}
footer {
	margin-top: 50%;
	color: white;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7);
	content: center;
	border: 0px outset;
   	border-top: 4ipx solid buttonface;
	float: bottom;
	clear: both;
    	position: relative;
}
footer a {
	padding-left: 40px ;
	text-decoration:none;
	font-size: 15px;
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
}
.btn{
	padding: 0 3px 0 3px;
	margin: 0;
 	background: silver;
    	color: black;
	user-select: none;
    	border-radius: 1px;
	text-align: center;
	vertical-align: middle;
    	cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
    	line-height: 1.5;
}
.btn:hover {
    background: silver;
	border: 2.5px inset buttonface;
    border-left-color: #424242;
    border-top-color: #424242;
}
.topbar {
	padding: 0px;
	margin:0;
  	background: silver;
   	color: #212529;
}
nav{border-bottom: 2.5px outset black}
.navlinks {
	grid-template-columns: unset;
	display: inline-block; !important
	grid-template-columns: none;
	padding: 3px;
	list-style:none;
	margin: 0;
	border:0;
}
.navlinks li {
	display: inline-block;
	padding: 3px;
	border:0;
}
.navlinks li a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

.navlinks li a:hover {transition: all 0.3s ease 0s}
.navlinks li a img{transition: all 0.3s ease 0s}
.navlinks li a img:hover {transition: all 0.3s ease 0s}

/* CSS for the optional image paragrath */
p {
	width:auto;
	border-top: 0;
	background: silver;
	margin: 0 10% 0 10%;
	display:block;
}
p img {
	height: 5%;
	margin: 0 auto 0 auto;
	display:block
}


/* Seach Box shenanigins */
.search-box { border: white outset 2.5px !important;border-right-color: black !important;border-bottom-color: black !important;background: silver;color: black;user-select: none;text-align: center;vertical-align: middle;cursor: pointer;line-height: 1.5;margin-left: auto;margin-right: auto;padding:0 !important; min-height:1em !important}
.search-box:hover > .search-text {width: 240px;}
.search-btn{float: right; background:silver;transition: 0.4s; cursor: pointer; }
.search-text{border: none; background: none; outline: none; float: left; padding: 0; color: black; transition: 0.4s; width: 0px; }

@media (min-height: 100%) {
	footer{margin-top: 15px;}
}
