html, body {margin: 0; padding: 0;}

body {
	color: #fff;
	font-family: MS Sans Serif,Tahoma,sans-serif,Helvetica;
	background-color: #bfbcf0;
	font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}

.topbar {
	display:flex;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	margin:auto;
   	border-bottom: 4px solid #424242;
  	background: silver;
   	color: #212529;
}

.navlinks {
	list-style:none;
	margin: 0;
}
.navlinks li {
	display: inline-block;
	padding: 3px;
}
.navlinks li a {
	transition: all 0.3s ease 0s;
	text-decoration:none;
}

.navlinks li a:hover {transition: all 0.3s ease 0s}
.navlinks li a img{transition: all 0.3s ease 0s}
.navlinks li a img:hover {transition: all 0.3s ease 0s}

.search-box {
	height: 28px;
	padding-left: 8px;
	padding-right: 8px;
	border-width: 3px;
	border-style: outset;
   	border-color: buttonface;
   	border-right-color: #424242;
   	border-bottom-color: #424242;
   	background: silver;
   	color: black;
	user-select: none;
   	border-radius: 1px;
	text-align: center;
	vertical-align: middle;
   	cursor: pointer;
   	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
	padding:0 !important;
}

.search-box:hover > .search-text {
	width: 240px;
}

.search-btn {
	float: right;
	background: silver;
	transition: 0.4s;
	cursor: pointer;
}

.search-text {
	border: none;
	font-size: 1rem;
   	line-height: 1.5;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: black;
	transition: 0.4s;
 	width: 0px;
}

#title {
	text-align: center;
	font-size: 1.5rem;
	font-weight: 300;
}

.flex-parent {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;
	gap: 10px;
	margin-left: 5%;
	margin-right: 5%;
}

.card {
	width: 90%;
	margin: 5px;
	content: center;
   	border-style: outset;
   	border: 4px solid white;
   	border-bottom-color: #424242;
 	border-right-color: #424242;
  	background: silver;
   	color: #212529;
}

.card-header {
	padding-right: auto;
	padding-left: 20px;
	text-decoration: inherit;
	color: white;
	background: -webkit-linear-gradient(left,#08216b,#a5cef7);
	margin-top: 0
}
.card-body {margin-left: 10px; margin-right: 10px;}

#image {
	width: auto;
	height: auto;
	float: center !important;
}

#ingredients-parent {
	width: initial;
	max-width: 90%;
	flex-shrink: 1;
}

#preparation-parent {
	width: 40%;
	min-width: 600px;
	max-width: 90%;
	flex-grow: 1;
	text-justify: newspaper;
	font-size: 110%;
}

.btn {
	padding-left: 8px;
    padding-right: 8px;
	border-width: 3px;
	border-style: outset;
    border-color: buttonface;
    border-right-color: #424242;
    border-bottom-color: #424242;
    background: silver;
    color: black;
	user-select: none;
    border-radius: 1px;
	text-align: center;
	vertical-align: middle;
    cursor: pointer;
	display: inline-block;
	font-size: 1.2rem;
    line-height: 1.5;
}

.btn:hover {
    background: silver;
    border-width: 3px;
    border-style: inset;
    border-color: buttonface;
    border-left-color: #424242;
    border-top-color: #424242;
}

h1 {
	margin-block-start: 0.3em;
    margin-block-end: 0.3em;
}

ol.index {
	list-style-type: upper-latin;
}
